/*Chrome,Safari*/
body{
  background-color: #000;
-webkit-clip-path: polygon(241px 378px,245px 387px,395px 388px,418px 362px,490px 363px,630px 361px,641px 349px,638px 252px,609px 212px,609px 84px,569px 51px,276px 51px,242px 93px,111px 94px,112px 261px,229px 360px);

/*Firefox*/
clip-path: url("#clipPolygon");
}
